<%- include('header') %>

<main class="container">
  <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addPackage">
    Add Package
  </button>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Package Number</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Insurance amount</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% if (packages.length) { %>
        <% packages.forEach( package => { %>
          <tr>
            <th scope="row"><a href="/admin/packages/<%= package.PackageNum%>"><%= package.PackageNum%></a></th>
            <td><%= package.status %></td>
            <td><%= package.Category %></td>
            <td>$<%= Math.round(package.Insurance_amount * 100) /100 %></td>
            <td>
              <form action="/admin/packages/<%= package.PackageNum %>/delete" method="post">
                <button type="submit" class="btn btn-danger">
                  Delete
                </button>
              </form>
            </td>
          </tr>
        <% }) } else { %>
        <tr>
          <td colspan="5">No packages yet ... </td>
        </tr>
      <% } %>

    </tbody>
  </table>
</main>

<%- include('modals/createPackage') %>


<%- include('../footer.ejs') %>