<%- include('header') %>


<main class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 choices">
    <div class="col choice">
      <button type="button"
              class="btn btn-primary"
              data-toggle="modal" 
              data-target="#payments">Payments</button>
    </div>
    <div class="col choice">
      <button type="button"
              class="btn btn-primary"
              data-toggle="modal" 
              data-target="#status">Packages with Status</button>
    </div>
    <div class="col choice">
      <button type="button"
              class="btn btn-primary"
              data-toggle="modal" 
              data-target="#types">Packages with Type</button>
    </div>
    <div class="col choice">
      <button type="button"
              class="btn btn-primary"
              data-toggle="modal" 
              data-target="#tracking">Packages with specific tracking</button>
    </div>
    <div class="col choice">
      <button type="button"
              class="btn btn-primary"
              data-toggle="modal" 
              data-target="#customerPackage">Packages with specific Customer</button>
              
    </div>
  </div>
  
</main>
<div class="modals">
  <%- include('modals/payments')%>
  <%- include('modals/status')%>
  <%- include('modals/types')%>
  <%- include('modals/tracking')%>
  <%- include('modals/customerPackage')%>
</div>
<style>
  .choices{
    margin-top: 10%;
  }
  .choices .choice{
    height: 200px;
    margin-bottom: 2rem;
  }
  .choices button{
    width: 100%;
    height: 100%;
    background-color: #00000033;
    border-radius: 0;
    border: 2px solid #fff;
  }
</style>



<%- include('../footer.ejs') %>

