<%- include('header') %>

<main class="container">
  <button type="button" class="btn btn-primary  mb-3" data-toggle="modal" data-target="#addUser">
    Add User
  </button>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">SSN</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% if (users.length) { %>
        <% users.forEach( user => { %>
          <tr>
            <th scope="row"><a href="/admin/users/<%= user.U_SSN%>"><%= user.U_SSN%></a></th>
            <td><%= user.Fname %> <%= user.Lname %></td>
            <td><%= user.Phone %></td>
            <td><%= user.role %></td>
            <td>
              <form action="/admin/users/<%= user.U_SSN %>/delete" method="post">
                <button type="submit" class="btn btn-danger">
                  Delete
                </button>
              </form>
            </td>
          </tr>
        <% }) } else { %>
        <tr>
          <td colspan="5">No users yet ... </td>
        </tr>
      <% } %>

    </tbody>
  </table>
</main>

<%- include('modals/addUser') %>

<%- include('../footer.ejs') %>