<%- include('header') %>

<main class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"><%= user.Fname%> <%= user.Mname%> <%= user.Lname%></span><span class="text-black-50"><%= user.Email%></span><span> </span></div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <form action="/admin/users/<%= user.U_SSN %>/update" method="post">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">User</h4>
              </div>
              
              <div class="row mt-2">
                  <div class="col-md-6">
                    <label for="fname" class="labels">First Name</label>
                    <input required type="text" class="form-control" value="<%= user.Fname%>" name="fname" id="fname">
                  </div>
                  <div class="col-md-6">
                    <label for="mname" class="labels">Middle Name</label>
                    <input required type="text" class="form-control" value="<%= user.Mname%>" name="mname" id="mname" >
                  </div>
                  <div class="col-md-6">
                    <label for="lname" class="labels">Last Name</label>
                    <input required type="text" class="form-control" value="<%= user.Lname %>" name="lname" id="lname" >
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12">
                    <label class="labels" for="phone">Phone Number</label>
                    <input required type="text" class="form-control" name="phone" id="phone" value="<%= user.Phone%>">
                  </div>
                  <div class="col-md-12">
                    <label class="labels" for="email">Email</label>
                    <input required type="email" name="email" id="email" class="form-control" value="<%= user.Email%>">
                  </div>
                  <div class="col-md-12">
                    <label class="labels" for="passowrd">Password</label>
                    <input required type="password" class="form-control" name="password" id="password">
                  </div>

              </div>
              <div class="row mt-3">
              </div>
              <div class="mt-5 text-center">
                <button class="btn btn-primary profile-button" type="submit">Update</button>
              </div>
              </form>
          </div>
      </div>
  </div>
</main>

<%- include('../footer.ejs') %>
