
<%- include('../header') %>
<main class="container">
  <a class="btn btn-info mb-3" href="/admin/reports" role="button">Back</a>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Package Number</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>

      <% if (packages.length) { %>
        <% packages.forEach( package => { %>
          <tr>
            <th scope="row"><%= package.PackageNum%></th>
            <td><%= package.status %></td>
            <td><%= package.Date %></td>
          </tr>
        <% }) } else { %>
        <tr>
          <td colspan="8">There is no packages other than transit that is between these dates ... </td>
        </tr>
      <% } %>

    </tbody>
  </table>
</main>


<%- include('../../footer.ejs') %>