<%- include('../header') %>

<main class="container">
  <a class="btn btn-info mb-3" href="/admin/reports" role="button">Back</a>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">Regular</th>
        <td><%= count.regular %></td>
      </tr>
      <tr>
        <th scope="row">Fragile</th>
        <td><%= count.fragile %></td>
      </tr>
      <tr>
        <th scope="row">Liquid</th>
        <td><%= count.liquid %></td>
      </tr>
      <tr>
        <th scope="row">Chemical</th>
        <td><%= count.chemical %></td>
      </tr>

    </tbody>
  </table>
</main>

<%- include('../../footer.ejs') %>