<div class="modal fade" id="addPackage" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addPackageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPackageLabel">Add Package</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/packages/create" method="post">
        <div class="modal-body">

          <div class="form-group">
            <label for="value">Value</label>
            <input required type="number" min="0" max="100000" class="form-control" name="value" id="value">
          </div>

          <div class="form-group">
            <label for="category">Category</label>
            <select required class="form-control" name="category" id="category">
              <option value="Fragile">Fragile</option>
              <option value="Regular">Regular</option>
              <option value="Liquid">Liquid</option>
              <option value="Chemical">Chemical</option>
            </select> 
          </div>
          
          <div class="form-group">
            <label for="finalDate">Final Delivery Date</label>
            <input required type="date" class="form-control" id="finalDate" name="finalDate">
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="width">Width</label>
              <input required type="number" min="0" class="form-control" id="width" name="width">
            </div>
            <div class="form-group col-md-4">
              <label for="height">Height</label>
              <input required type="number" min="0" class="form-control" id="height" name="height">
            </div>
            <div class="form-group col-md-4">
              <label for="length">Length</label>
              <input required type="number" min="0" class="form-control" id="length" name="length">
            </div>

          </div>

          <div class="form-group">
            <label for="weight">Weight</label>
            <input required type="number" min="0" class="form-control" id="weight" name="weight">
          </div>

          <div class="form-group">
            <label for="retail">Retail Center ID</label>
            <input required type="text" class="form-control" id="retail" name="retail">
          </div>

          <div class="form-group">
            <label for="from">From</label>
            <select required class="form-control" name="from" id="from">
              <% if (customers.length) { %>
                <% customers.forEach(customer => { %>
                    <option value="<%= customer.U_SSN %>"><%= customer.U_SSN %> - <%= customer.Fname %> <%= customer.Lname %></option>
              <% }) } else { %>
                <option value="">-- No customers yet -- </option>
              <% } %>
            </select> 
          </div>

          <div class="form-group">
            <label for="to">To</label>
            <select required class="form-control" name="to" id="to">
              <% if (customers.length) { %>
                <% customers.forEach(customer => { %>
                    <option value="<%= customer.U_SSN %>"><%= customer.U_SSN %> - <%= customer.Fname %> <%= customer.Lname %></option>
              <% }) } else { %>
                <option value="">-- No customers yet -- </option>
              <% } %>
            </select> 
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>