<%- include('header') %>

<main class="container">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Package Number</th>
        <th scope="col">Category</th>
        <th scope="col">Insurance amount</th>
        <th scope="col">Value</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <% if (packages.length) { %>
        <% packages.forEach( package => { %>
          <tr>
            <th scope="row"><a href="/customers/<%= customer.ssn %>/packages/?q=<%= package.packageNum%>"><%= package.packageNum%></a></th>
            <td><%= package.category %></td>
            <td>$<%= package.insurance %></td>
            <td>$<%= package.value %></td>
            <td><%= package.status %></td>
            <% if (package.status === 'delivered') { %>
              <td>recieved!</td>
            <% } else { %>
              <td>
                <form action="/customers/<%= customer.ssn %>/recieve/<%= package.packageNum%>" method="post">
                  <button type="submit" class="btn btn-success">Recieve</button>
                </form>
              </td>
            <% } %>
          </tr>
        <% }) } else { %>
        <tr>
          <td colspan="5">No recieved packages yet ... </td>
        </tr>
      <% } %>

    </tbody>
  </table>
</main>

<%- include('../footer.ejs') %>